<header>
  <%= link_to "Blog App", root_path %>
  <nav>
    <ul>
      <% if user_signed_in? %>
        <li><%= button_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign in", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
      <% end %>
    </ul>
  </nav>
</header>